# ─────────────────────────────────────────────
# Copy this file to .env and fill in the values.
# Never commit from real .env - add to .gitignore.
# ─────────────────────────────────────────────

# Copernicus credentials / Sentinel Hub
CDSE_CLIENT_ID= 'YOURS_CLIENT_ID'
CDSE_CLIENT_SECRET= 'YOURS_SECRET_ID'

# Path to EMBRAPA shapefile (relating to the root of the project or absolute)
# Standart: data/embrapa/aptagr_bra.shp  (relating to config.py)
# EMBRAPA_SHAPEFILE=/caminho/customizado/aptagr_bra.shp

# Output directory for spectral index images
# Standart: output_indices  (relating to the root of the project)
# OUTPUT_INDICES_DIR=/customized/path/output_indices
